.c-bg {
  background-color: #6843ff59;
  border-radius: 20px;

  /* border-image: linear-gradient(#f6b73c, #4d9f0c)100;
  border-width: 2px;
  border-style: solid; */
  /* width: 100; */
}
.border-gradient {
  border: 1px solid #5cfff3;
  /* border-image-slice: 1; */
  border-radius: 20px;
  width: 30%;

  background-color: #6943ff2f;
}
/* .border-gradient-purple {
  border-image-source: linear-gradient(to left, #6843ff59, #5cfff3);
  opacity: 0.6;
} */

.text-title {
  color: #5cfff3;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.text-description {
  font-size: 15px;
  text-align: center;
  font-family: "Source Sans Pro ", sans-serif;
  color: #fff;
}

@media(max-width:900px){
    .border-gradient {
        border: 1px solid #5cfff3;
        /* border-image-slice: 1; */
        border-radius: 20px;
        width: auto;
      
        background-color: #6943ff2f;
      }
}