.top-bg {
  background-image: url("../../assets//Background/burj-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}
.top-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-align: left;
  color: #5cfff3;
}

.text-number {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 95px;
  font-weight: 800;
  text-align: left;
  color: transparent !important;
  /* -webkit-text-stroke: 1px #fff !important; */
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
}
