.medium-padding80 {
  padding: 80px 0;
}
.slider-bg {
  /* position: relative;
    padding: 80px 180px 100px 80px; */
  background-color: #24126ae3;
  border-radius: 20px;
  background-image: url("../../../assets/Background/graph.png");
  background-position: bottom;
  background-repeat: no-repeat;
}
.text-price {
  font-size: 15px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bolder;
  color: #ffffff7c;
}
.mySwiper {
  margin-top: 30px;
  margin-bottom: 30px;
}
.img-hover-zoom {
  opacity: 0.6;
  color: beige !important;
}
.img-hover-zoom:hover {
  opacity: 1;
}
.crumina-slider--info-boxes .swiper-btn-wrap {
  position: absolute;
  right: 120px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.swiper-btn-wrap {
  z-index: 19;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.carousel-control-prev {
  float: right !important;
}

.postion-usman {
  position: absolute;
  right: 100px !important;
}
/* .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    transform: translate(1137px, 50px) !important;
  } */
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  width: 300px !important;
}
.swiper-slide {
  width: 300px !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #5cfff3 !important;
}
/* .img-hover-zoom--blur img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(2px);
    transform: scale(1.2);
  } */

/* The Transformation */
/* .img-hover-zoom--blur:hover img {
    filter: blur(4);
    transform: scale(1);
  } */

/* @media (max-width: 600px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(280px, 50px) !important;
    }
  } */
/* @media (max-width: 1366px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(965px, 50px) !important;
    }
  }
  @media (max-width: 1024px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(805px, 50px) !important;
    }
  }
  @media (max-width: 931px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(0px, 0px) !important;
    }
  } */
/* @media (max-width: 500px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(375px, 50px) !important;
    }
  }
  @media (max-width: 432px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(365px, 50px) !important;
    }
  }
  @media (max-width: 428px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(355px, 50px) !important;
    }
  }
  
  @media (max-width: 420px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(335px, 50px) !important;
    }
  }
  @media (max-width: 392px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(320px, 50px) !important;
    }
  }
  @media (max-width: 390px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(320px, 50px) !important;
    }
  }
  @media (max-width: 375px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(310px, 50px) !important;
    }
  }
  @media (max-width: 360px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(285px, 50px) !important;
    }
  }
  @media (max-width: 320px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      transform: translate(245px, 50px) !important;
    }
  } */
