.App-bg {
  background-image: url("../assets/Background/artistic-blurry-colorful-wallpaper-background-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; /* Set the height according to your needs */
  width: 100%; /* Set the width according to your needs */
  /* background-color: #24126ae3 !important; */
  /* color: #fff !important; */
}