.App {
  text-align: center;
}
.App-bg {
  background-color: #24126ae3 !important;
  /* color: #fff !important; */
}
.Text-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: left;
  color: #5cfff3;
}
.text-detail {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}
.btn-experts {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #5cfff3 !important;
  border: #5cfff3 1px solid !important;
  border-radius: 50px !important;
  background: transparent !important;
}
.btn-experts:hover {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #ffff !important;
  /* border: #5cfff3 1px solid !important; */
  border-radius: 50px !important;
  background: #5cfff3 !important;
}
@media (max-width: 600px) {
  .Text-heading {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  .text-detail {
    font-size: 15px;
    text-align: justify;
  }
}
