.valley-bg {
  background-color: #24126ae3;
  border-radius: 20px;
  /* background-image: url("../../assets/Background/graph.png");
    background-position: bottom;
    background-repeat: no-repeat; */
}
.text-Join {
  margin: 30px;
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
}
.btn-join {
  background-color: #5cfff3;
  color: #24126ae3;
  font-size: 20px;
}
.btn-join:hover {
  color: #5cfff3;
  background-color: #24126ae3;
  font-size: 20px;
  border: 1px solid #5cfff3;
}
@media (max-width: 700px) {
  .text-Join {
    font-size: 30px;
  }
}
